.centered-container {
    position: fixed; /* Fixed to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
    background-color: rgba(0, 0, 0, 0.8); /* 80% black opacity */
    padding: 30px;
    border-radius: 8px;
    max-width: 90%;
    width: 500px; /* Adjust width as needed */
    color: white; /* White text color for readability */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .leave-button {
    position: relative;
    padding: 30px 60px;
    font-size: 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
    transition: transform 0.5s ease-in-out;
 
    border-radius: 10px; /* Rounded corners for the button itself */
  }
  
  .leave-button::before {
    content: '';
    background: rgba(0, 0, 0, 0.3); /* Light color to give glow effect */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .leave-button:hover::before {
    transform: translate(-50%, -50%) scale(1.1); /* Slight scale-up for effect */
    opacity: 1;
  }
  
  .leave-button:hover {
    box-shadow: 0 0 30px 15px rgba(255, 179, 0, 0.5); /* Softer, diffused glow */
  }
  
  .leave-button:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%; /* Larger for a softer diffused effect */
    height: 200%;
    /* Remove background color here */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    box-shadow: 0 0 60px 20px rgba(255, 179, 0, 0.2); /* More diffused, outer glow */
    z-index: -2;
    transition: opacity 0.3s ease-in-out;
  }
