/* DoorWall.css */
.posterwall-background {
    height: 100vh; /* Full viewport height */
    background-image: url('assets/poster.png'); /* Replace with the path to your image */
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color:gray;

  }
  
  .posterwall-content {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  