.wall1-background {
    height: 100vh; /* Full viewport height */
    background-image: url('assets/bed.png'); /* Replace with the path to your image */
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
  }
  
  .wall1-content {
    color: white;
    text-align: center;
    padding-top: 50px;
  }
  